<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirManualServlet</servlet-name>
        <servlet-class>servlets.ExibirManualServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarJogosServlet</servlet-name>
        <servlet-class>servlets.ConsultarJogosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoJogoServlet</servlet-name>
        <servlet-class>servlets.NovoJogoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetivarJogoServlet</servlet-name>
        <servlet-class>servlets.EfetivarJogoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRankingServlet</servlet-name>
        <servlet-class>servlets.AddRankingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRankingServlet</servlet-name>
        <servlet-class>servlets.GetRankingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirManualServlet</servlet-name>
        <url-pattern>/manual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarJogosServlet</servlet-name>
        <url-pattern>/consultarjogos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoJogoServlet</servlet-name>
        <url-pattern>/novojogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetivarJogoServlet</servlet-name>
        <url-pattern>/efetivarjogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRankingServlet</servlet-name>
        <url-pattern>/addranking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRankingServlet</servlet-name>
        <url-pattern>/getranking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
